@import "tailwindcss";

menu {
  display: flex;
  align-items: center;
  justify-items: middle;
  column-gap: 0.2rem;

}

menu ::marker {
  list-style: none;
}


a.active {
  color: red;
}

/* 
a.pending {
  animate: pulse 1s infinite;
}

a.transitioning {
  /* css transition is running */
/* } */