@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  align-items: left;
  column-gap: 1rem;
}

menu ::marker {
  list-style: none;
}


a.active {
  color: red;
}

/* 
a.pending {
  animate: pulse 1s infinite;
}

a.transitioning {
  /* css transition is running */
/* } */